.question {
  $this: &;
  text-align: center;

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    @include mobile() {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  &__subtitle {

  }

  &__button {
    margin-top: 36px;
    @include mobile() {
      margin-top: 28px;
    }
  }
}