- cities = ['Астрахань','Балашиха','Барнаул','Белгород','Брянск','Чебоксары','Челябинск','Чита','Екатеринбург','Хабаровск','Ижевск','Иркутск','Иваново','Ярославль','Калининград','Калуга','Казань','Кемерово','Киров','Краснодар','Красноярск','Курган','Курск','Липецк','Магнитогорск','Махачкала','Москва','Набережные Челны','Нижний Новгород','Новокузнецк','Новосибирск','Омск','Орел','Пенза','Пермь','Ростов-на-Дону','Рязань','Самара','Саранск','Саратов','Севастополь','Симферополь','Сочи','Санкт-Петербург','Ставрополь','Тольятти','Тула','Тюмень','Тверь','Уфа','Ульяновск','Владикавказ','Владивосток','Волгоград','Воронеж',]
.citySelect
  button.citySelect__button
    span.citySelect__icon: +the_svg('geo')
    span.citySelect__name Санкт-Петербург
  .citySelect__popup
    button.citySelect__close(data-micromodal-close): +the_svg('close-popup')
    .citySelect__title Выберите Ваш город
    .citySelect__list
      each city in cities
        .citySelect__item: a(href='#')=city


  