.constructor {
  $this: &;

  position: relative;
  background: url(./img/constructor_bg.jpg) 50% 50%;
  background-size: cover;
  padding: 96px 0 64px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
  }

  @include mobile() {
    padding: 60px 0 0;
  }

  &__title {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 48px;
    @include mobile() {
      font-size: 32px;
      margin-bottom: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $red;
      left: 190px;
      top: 28px;

      @include mobile() {
        width: 12px;
        height: 12px;
        left: 141px;
        top: 19px;
      }
    }
  }

  &__subtitle {
    padding-left: 35px;
    margin-top: -20px;

    @include mobile() {
      padding-left: 20px;
      margin-top: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  &__left {
    width: 325px;
    @include mobile() {
      flex: auto;
      width: 100%;
      padding: 0;
      margin-bottom: 16px;
    }

  }

  &__center {
    flex: 1;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include mobile() {
      padding: 0;
      flex: auto;
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__right {
    width: 445px;
    display: flex;
    flex-direction: column;
    @include media-max-width(1300px) {
      width: auto;
      flex: 1;
      padding-left: 16px;
    }
    @include mobile() {
      flex: auto;
      width: 100%;
      padding: 0;
      margin-bottom: 24px;
    }
  }

  &__block {
    background: $white;
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 12px;
    @include mobile() {
      padding: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--full {
      flex: 1;
      padding-bottom: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--stretch {
      flex: 1;
    }

    &--inactive {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        border-radius: 12px;
        opacity: .7;
        z-index: 1;
      }

      #{$this} {
        &__note {
          display: flex;
        }
      }
    }

    .select {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__blockTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__shapes {
    display: flex;
    align-items: flex-start;
    //justify-content: center;
    margin: 0 -12px;
  }

  &__shape {
    margin: 0 12px;
  }

  &__options {
    margin: 8px 0;
  }

  &__optionsList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  &__option {
    padding: 8px;
    position: relative;
  }

  &__accessory {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__positions {
    position: relative;
    width: 217px;
    height: 350px;
  }

  &__position {
    position: absolute;

    &--01 {
      top: 0;
      left: 0;
    }

    &--02 {
      right: 0;
      top: 0;
    }

    &--03 {
      top: 155px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--04 {
      left: 0;
      top: 200px;
    }

    &--05 {
      right: 0;
      top: 200px;
    }

    &--06 {
      left: 0;
      top: 275px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: -8px;

    span {
      font-size: 36px;
      @include mobile() {
        font-size: 20px;
      }
    }

    @include mobile() {
      font-size: 20px;
    }
  }

  &__note {
    display: none;
    position: absolute;
    top: 50%;
    left: 24px;
    right: 24px;
    transform: translateY(-50%);
    z-index: 1;
    background: $white;
    border-radius: 12px;
    align-items: center;
    padding: 24px;
    @include mobile() {
      font-size: 12px;
    }

    svg {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin-right: 12px;
      color: $gray500;
      @include mobile() {
        width: 24px;
        height: 24px;
        margin-right: 18px;
      }
    }
  }

  &__noteText {
  }

  &__preview {
    @include mobile() {
      height: 300px;
    }
  }

  &__button {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    @include mobile() {
      display: none;
    }
  }

  &__blockPrice {
    display: flex;
    align-items: flex-end;
  }

  &__blockPriceButton {
    display: none;
    @include mobile() {
      margin-left: auto;
      display: block;
    }
  }

  &__accessoirImage {
    margin-bottom: 8px;

    img {
      display: block;
    }
  }

  &__accessoirName {
    font-weight: 600;
    margin-bottom: 12px;
    @include mobile() {
      margin-bottom: 8px;
    }
  }

  &__accessoirFooter {
    display: flex;
    align-items: center;
  }

  &__accessoirPrice {
    font-size: 24px;
    font-weight: 600;
  }

  &__accessoirAction {
    margin-left: auto;
    width: 130px;
  }
}