.productConstructor {
  $this: &;

  @include shadow();
  border-radius: 12px;
  padding: 40px 36px;
  @include mobile() {
    padding: 24px;
  }

  &__block {
    margin-bottom: 32px;
  }

  &__label {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    @include mobile() {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__shapes {
    display: flex;
    align-items: flex-start;
    //justify-content: center;
    margin: 0 -12px;
  }

  &__shape {
    margin: 0 12px;
  }

  &__options {
    margin: 8px 0;
  }

  &__optionsList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }


  &__option {
    padding: 8px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: $gray200;
    @include anim();
  }

  &__caption {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
  }

  &__checkboxes {
    .checkbox {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__accessoir {
    border: 1px solid $gray400;
    border-radius: 12px;
    margin-top: 24px;
    padding: 30px 36px;

    @include mobile() {
      border: 0;
      padding: 0;
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accessoirImage {
    margin-bottom: 8px;

    img {
      display: block;
    }
  }

  &__accessoirName {
    font-weight: 600;
    margin-bottom: 12px;
    @include mobile() {
      margin-bottom: 8px;
    }
  }

  &__accessoirFooter {
    display: flex;
    align-items: center;
  }

  &__accessoirPrice {
    font-size: 24px;
    font-weight: 600;
  }

  &__accessoirAction {
    margin-left: auto;
    width: 130px;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 33px;
    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 8px;
      border-top: 1px solid $gray400;
      padding-top: 28px;
    }
  }

  &__priceLabel {
    font-size: 24px;
    font-weight: 600;
    @include mobile() {
      font-size: 16px;
    }
  }

  &__priceValue {
    margin-left: auto;
    text-align: right;
    @include mobile() {
      margin: 0;
      text-align: left;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__priceOld {
    color: $gray500;
    font-size: 18px;
    text-decoration: line-through;
    line-height: 1;
    @include mobile() {
      margin-left: 8px;
    }
  }

  &__priceFinal {
    font-size: 32px;
    font-weight: 600;
    @include mobile() {
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: -9px;
    @include mobile() {
      margin: 0;
      flex-direction: column;
    }
  }

  &__action {
    padding: 9px;
    flex: 1;
    @include mobile() {
      width: 100%;
      //max-width: 320px;
      padding: 0;
      padding-bottom: 8px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__payments {
    margin-top: 45px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    @include mobile() {
      margin-top: 28px;
    }
  }
}