form
  .form
    .form__title Обратный звонок
    .form__text Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Задача организации.
    .form__content
      label.input
        .input__label Имя
        label.input__input.input__input--rightTop: input
      label.input
        .input__label Ваш телефон
        .input__input.input__input--rightTop: input(type='tel')

      .file
        input(type='file')
        +the_svg('file')
        span.file__name Прикрепите файл

    .form__button
      button.btn.btn--black.btn--rightTop Получить точный расчет кровли

