.form
  .form__title УЗНАТЬ О РАЗМЕРЕ СКИДКИ

  .form__cols
    .form__col
      .form__content
        .form__checkbox
          label.checkbox
            input(type='checkbox')
            span У меня новостройка
        .form__checkbox
          label.checkbox
            input(type='checkbox')
            span Мне нужно более 3-х дверей
    .form__col
      .form__content
        .form__checkbox
          label.checkbox
            input(type='checkbox')
            span Пенсионер / Многодетная семья
        .form__checkbox
          label.checkbox
            input(type='checkbox')
            span Нашел дешевле

  .form__cols
    .form__col
        .form__input
          .input: input(placeholder="Ваше имя")
    .form__col
        .form__input
          .input: input(placeholder="Телефон" type='tel')

  .form__confirm
    label.checkbox
      input(type='checkbox')
      span Я согласен с обработкой #[a(href='#') персональных данных]
  .form__button
    button.btn.btn--black ОТПРАВИТЬ

