mixin the_svg(svgIcon, fileName)
  svg()&attributes(attributes)
    use(xlink:href=`img/${fileName ? fileName + '.sprite' : 'sprite'}.svg#` + svgIcon + '-usage')

mixin breadcrumbs(items)
  .breadcrumbs
    span
      span
        a(href="#") Главная
        each i in items
          span=i

mixin head(title,aside)
  .head.block
    include ../modules/breadcrumbs/breadcrumbs
    .head__main
      h1= title
      if(aside)
        .head__aside !{aside}
