.orderMarquee {
  $this: &;

  &__container {
    white-space: nowrap;
    will-change: transform;
    display: flex;
    align-items: center;
    border: 1px solid rgba($gray3, .5);
    border-left: 0;
    border-right: 0;
    padding: 34px 0;
    @include mobile() {
      padding: 18px;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    > * {
      display: flex;
      align-items: center;

      &:after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $red;
        margin: 0 32px;
        @include mobile() {
          width: 14px;
          height: 14px;
          margin: 0 16px;
        }
      }
    }

    img {
      @include mobile() {
        max-height: 30px;
        width: auto;
      }
    }
  }

  &--enable {
    #{$this} {
      &__text {
        animation: marquee 32s linear infinite;
      }
    }
  }

  &:hover {
    #{$this} {
      &__text {
        animation-play-state: paused;
      }
    }
  }
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}
