.orderMarquee.fullWidth.block
  button.orderMarquee__container
    span.orderMarquee__text
      span.orderMarquee__filled ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__outline ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__filled ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__outline ЗАКАЗАТЬ КОВРИК
    span.orderMarquee__text
      span.orderMarquee__filled ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__outline ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__filled ЗАКАЗАТЬ КОВРИК
      span.orderMarquee__outline ЗАКАЗАТЬ КОВРИК