.brandsGrid.block
  .brandsGrid__container
    .brandsGrid__title ПОПУЛЯРНЫЕ МАРКИ
    .brandsGrid__items
      each i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
        a.brandsGrid__item(href='#')
    a.brandsGrid__link(href='#')
      |Весь каталог
      +the_svg('arrow-right')
