extends ../pug/_layout

block body
  include ../modules/frontSlider/frontSlider
  include ../modules/welcomeText/welcomeText
  //include ../modules/alphabetCatalog/alphabetCatalog
  include ../modules/constructor/constructor
  include ../modules/brandsGrid/brandsGrid
  include ../modules/servicesSlider/servicesSlider
  include ../modules/photos/photos
  include ../modules/testimonialsSlider/testimonialsSlider
  include ../modules/orderMarquee/orderMarquee
  include ../modules/question/question