extends ../pug/_layout

block body
  .content
    +head('Aвтомобильные коврики EVA для Audi')
    include ../modules/modelsList/modelsList
    include ../modules/seoText/seoText
    include ../modules/question/question