.brandsList.block
  .brandsList__list
    .brandsList__item
      .brandsList__letter A
      ul
        li: a(href='#') Acura
        li: a(href='#') Alfa
        li: a(href='#') Audi
    .brandsList__item
      .brandsList__letter B
      ul
        li: a(href='#') Baic
        li: a(href='#') Bentley
        li: a(href='#') BMW
        li: a(href='#') Brilliance
        li: a(href='#') BYD
    .brandsList__item
      .brandsList__letter C
      ul
        li: a(href='#') Cadillac
        li: a(href='#') Changan
        li: a(href='#') Chery
        li: a(href='#') CHERYEXEED
        li: a(href='#') Chevrolet
        li: a(href='#') Chrysler
        li: a(href='#') Citroen
    .brandsList__item
      .brandsList__letter D
      ul
        li: a(href='#') Daewoo
        li: a(href='#') Daf
        li: a(href='#') Daihatsu
        li: a(href='#') Datsun
        li: a(href='#') Derways
        li: a(href='#') Dodge
        li: a(href='#') DongFeng
    .brandsList__item
      .brandsList__letter F
      ul
        li: a(href='#') FAW
        li: a(href='#') Fiat
        li: a(href='#') Ford
    .brandsList__item
      .brandsList__letter G
      ul
        li: a(href='#') GAC
        li: a(href='#') GAZ
        li: a(href='#') Geely
        li: a(href='#') Great Wall
    .brandsList__item
      .brandsList__letter H
      ul
        li: a(href='#') Haima
        li: a(href='#') Haval
        li: a(href='#') Honda
        li: a(href='#') Hummer
        li: a(href='#') Hyundai
    .brandsList__item
      .brandsList__letter I
      ul
        li: a(href='#') Infiniti
        li: a(href='#') Iran Khodro
        li: a(href='#') Isuzu
    .brandsList__item
      .brandsList__letter J
      ul
        li: a(href='#') Jack
        li: a(href='#') JAGUAR
        li: a(href='#') Jeep
        li: a(href='#') Jetour
    .brandsList__item
      .brandsList__letter K
      ul
        li: a(href='#') Kaiyi E5
        li: a(href='#') KIA
    .brandsList__item
      .brandsList__letter L
      ul
        li: a(href='#') LADA
        li: a(href='#') Land Rover
        li: a(href='#') Lexus
        li: a(href='#') Lifan
        li: a(href='#') Linkoln
    .brandsList__item
      .brandsList__letter M
      ul
        li: a(href='#') MAN
        li: a(href='#') Maserati
        li: a(href='#') Mazda
        li: a(href='#') Mercedes-Benz
        li: a(href='#') Mini Cooper
        li: a(href='#') Mitsubishi
    .brandsList__item
      .brandsList__letter N
      ul
        li: a(href='#') Nissan
    .brandsList__item
      .brandsList__letter O
      ul
        li: a(href='#') Opel
    .brandsList__item
      .brandsList__letter P
      ul
        li: a(href='#') Peugeot
        li: a(href='#') Pontiac
        li: a(href='#') Porsche
    .brandsList__item
      .brandsList__letter R
      ul
        li: a(href='#') Ravon
        li: a(href='#') Renault
        li: a(href='#') ROVER
        li: a(href='#') Rolls Royce
    .brandsList__item
      .brandsList__letter S
      ul
        li: a(href='#') Saab 9-3
        li: a(href='#') Scion
        li: a(href='#') Seat
        li: a(href='#') Skoda
        li: a(href='#') SMART
        li: a(href='#') Soueast
        li: a(href='#') Ssang Yong
        li: a(href='#') Subaru
        li: a(href='#') Suzuki
    .brandsList__item
      .brandsList__letter T
      ul
        li: a(href='#') Tank
        li: a(href='#') Tesla
        li: a(href='#') Toyota
    .brandsList__item
      .brandsList__letter U
      ul
        li: a(href='#') UAZ
    .brandsList__item
      .brandsList__letter V
      ul
        li: a(href='#') Volkswagen
        li: a(href='#') Volvo
        li: a(href='#') Voyah
    .brandsList__item
      .brandsList__letter Z
      ul
        li: a(href='#') ZOTYE
        li: a(href='#') ZX
    .brandsList__item
      .brandsList__letter З
      ul
        li: a(href='#') ЗАЗ
    .brandsList__item
      .brandsList__letter К
      ul
        li: a(href='#') Камаз
    .brandsList__item
      .brandsList__letter М
      ul
        li: a(href='#') Москвич
    .brandsList__item
      .brandsList__letter Т
      ul
        li: a(href='#') Тагаз