.btn {
  $this: &;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @include anim();
  line-height: 1.2;
  color: $white;
  background: $red;
  text-decoration: none;
  border-radius: 46px;
  border: 1px solid transparent;
  min-height: 44px;
  padding: 0 24px;

  z-index: 1;

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    background: $dark-red;
    //filter: drop-shadow(0 11px 20px rgba($yellow, .35));
  }


  &:disabled {
    //color: $gray-dark;
    //background: $gray-light;

    &:hover {
      filter: none;
    }

    &:after {
      //background: $gray-light;
    }
  }

  &--sm {
    min-height: 32px;
  }

  &--lg {
    min-height: 80px;
    padding: 0 36px;
    font-size: 20px;
  }

  &--outline {
    @include outline-button();
  }

  &--block {
    width: 100%;
  }

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  svg + span {
    padding-left: 8px;
  }

  span + svg {
    padding-left: 8px;
  }
}

