.modelsList
  .modelsList__list
    each i in [1,2,3,4,5,6,7,8]
      .modelsList__item
        a.modelsList__card(href='#')
          span.modelsList__head E-tron
          span.modelsList__image: img(src=require('src/modules/modelsList/img/model.jpg'))
          span.modelsList__title EVA коврики в салон Audi e-tron I (2018-...)
          span.modelsList__footer
            span.modelsList__price 2 590 ₽
            span.modelsList__oldPrice 3 000 ₽


