.welcomeText {
  $this: &;

  &__title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 64px;
    @include mobile() {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 18px;
    }
  }

  &__cols {
    display: flex;
    align-items: flex-start;
    margin: 0 -24px;
    @include mobile() {
      flex-direction: column;
      margin: 0;
    }
  }

  &__col {
    padding: 0 24px;
    @include mobile() {
      padding: 0;
      margin-bottom: .7em;
    }
  }

}