.welcomeText.block
  .welcomeText__title Добро пожаловать!
  .welcomeText__cols
    .welcomeText__col
      p Компания «Все коврики» рада приветствовать Вас на нашем сайте!  Мы гордимся тем, что уже с 2016 года производим коврики премиум качества для автомобилей различных марок и моделей.  Наша цель - обеспечить Ваш автомобиль надежной и стильной защитой от износа, пыли и грязи
      p Наш ассортимент включает 1000+ моделей авто,  что позволяет  нам удовлетворить потребности самых взыскательных клиентов.  Мы тщательно изучаем каждую модель автомобиля, чтобы  предложить оптимальные автоковрики, соответствующие  его особенностям и размерам
    .welcomeText__col
      p При производстве наших автоковриков мы используем только  высококачественные материалы, которые обеспечивают долговечность и сохранение первоначального внешнего вида. Каждый коврик проходит строгий контроль качества, чтобы гарантировать безупречную работу и полную удовлетворенность клиентов
      p Мы ценим Вас и стремимся предоставить высокий уровень сервиса.  Наша команда профессионалов всегда готова ответить на Ваши вопросы,  помочь выбрать подходящие автоковрики и обеспечить быструю,  удобную доставку