.productInfo
  h3 Описание
  p Автоковрики для Audi e-tron I (2018-...) в салон и багажник изготовлены из инновационного материала EVA, особая ячеистая структура которого не позволяет пыли, снегу и воде распространяться по салону и багажнику. Попадая в ромбовидные ячейки, вся грязь блокируется и остается внутри. Чтобы избавиться от нее, достаточно вынуть коврик и несколько раз энергично встряхнуть его
  h3 Доставка
  h3 Возврат
  p 30 дней на тест продукции, что-то не устроит? Мы готовы вернуть деньги
  p: strong Гарантийный срок – 1 год
  p Гарантийный срок распространяется на товар и его комплектующие.