@mixin cf() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin anim($duration: .1s) {
  transition: all $duration ease-in;
}

@mixin media-max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media($condition) {
  @if ($condition == 'lg') {
    @media screen and (max-width: $breakpoint-lg - 1) {
      @content;
    }
  }
  @if ($condition == 'md') {
    @media screen and (max-width: $breakpoint-md - 1) {
      @content;
    }
  }
}

@mixin mobile() {
  @include media('md') {
    @content;
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin hidden() {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  will-change: opacity, transform;
}

@mixin visible() {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

@mixin sprite($name) {
  background-image: url('img/sprite.svg#' + $name + '-usage');
}

@mixin ls() {
  letter-spacing: .02em;
}

@mixin ls-m() {
  letter-spacing: -.025em;
}

@mixin green-shadow() {
  box-shadow: 0px 11px 31.92px 6.08px rgba(62, 145, 0, 0.24);
}

@mixin green-shadow-filter() {
  filter: drop-shadow(0px 11px 31.92px rgba(62, 145, 0, 0.24));
}

@mixin link() {
  border-bottom: 1px dotted $green-dark;
  @include anim();
  &:hover {
    color: $green-dark;
    text-decoration: none;
  }
}

@mixin shadow() {
  box-shadow: 0px 2px 24px 0px #00000014;
}

@mixin outline-button() {
  border-color: $gray400;
  background: $white;
  color: $gray900;
  @include anim();

  &:hover {
    border-color: $gray300;
    background: $gray300;
  }

  &:active {
    border-color: $gray400;
    background: $gray400;
  }

}