// ====================================
// colors
// ====================================

$black: #000000;
$white: #ffffff;
$gray: #A1A4AC;
$gray2: #9CACC6;
$gray3: #808080;
$gray4: #CACBCB;
$blue: #283044;
$red: #D0011B;

// ====================================
// grid settings
// ====================================
$gutter: 15px;
$gutter-half: ($gutter / 2);

//$breakpoint-sm: 468px
//$breakpoint-lg: 798px;
$breakpoint-md: 1070px;

//$container-sm: 468px
//$container-md: 768px;
$container-lg: 1440px;


$content-padding: 78px;
$content-padding-sm: 32px;