.product
  .product__gallery
    include ../productGallery/productGallery
  .product__constructor
    include ../productConstructor/productConstructor
  .product__meta
    include ../productInfo/productInfo
    include ../productTestimonials/productTestimonials
