.about
  .about__block
    img.about__decor(src=require('src/modules/about/img/about_bg.jpg'))
    .about__content
      h2 ВСЕ КОВРИКИ
      p Компания, специализирующаяся на продаже эво ковриков для автомобилей. Мы предлагаем широкий ассортимент ковриков различных размеров и цветовых решений, которые отличаются высоким качеством и долговечностью
      p Наша компания работает только с проверенными производителями, что гарантирует надежность и безопасность наших товаров.
  .about__bullets
    .about__bullet
      .about__bulletImg: img(src=require('src/modules/about/img/about_01.svg'))
      | 8 лет держим лидирующие позиции на рынке
    .about__bullet
      .about__bulletImg: img(src=require('src/modules/about/img/about_02.svg'))
      | Более 1 000 клиентов по всей России
    .about__bullet
      .about__bulletImg: img(src=require('src/modules/about/img/about_03.svg'))
      | Каждый комплект был проверен многократными продажами
