header.header
  .header__top
    .c
      include ../citySelect/citySelect
      .header__topAside
        a(href='#' target="_blank").header__topContact: +the_svg('whatsapp')
        a(href='#' target="_blank").header__topContact: +the_svg('telegram')
        a(href='#' target="_blank").header__topPhone
          +the_svg('phone')
          | 8 800 100-29-02
  .header__main
    .c
      .header__logo
        img.header__logoImage(src=require('src/img/logo.png'))
        .header__logoText Коврики для вашего #[br]автомобиля
      .header__content
        .header__menu
          button.header__menuClose: +the_svg('close')
          ul
            li: a(href='#') Каталог
            li: a(href='#') О продукции
            li: a(href='#') Акции
            li: a(href='#') Оплата и доставка
            li: a(href='#') Гарантия
            li: a(href='#') Возврат
            li: a(href='#') Отзывы
            li: a(href='#') Контакты
        .header__info
          .header__constructor
            a.btn.btn--sm(href='#') Онлайн-конструктор
          form.header__search
            input.header__searchInput(placeholder="Поиск по авто")
            button.header__searchIcon: +the_svg('search')
            .header__searchPopup
              .header__searchResults
                a.header__searchResult(href='#') ГАЗ 3302/2705/3221 Gazel Buisnes 3302/2705/3221 1994-2010 2х местная кабина.
                a.header__searchResult(href='#') ГАЗ ГАЗель Next 1 2013-2024 Грузопассажирская
                a.header__searchResult(href='#') Audi A3 III (8V) Хэтчбек (2012 - 2016)
                a.header__searchResult(href='#') Audi A4 IV  (B8, 8K) Седан (2007 - 2015)
                a.header__searchResult(href='#') Audi A3 III (8V) Хэтчбек (2012 - 2016)
                a.header__searchResult(href='#') Audi A4 IV  (B8, 8K) Седан (2007 - 2015)
                a.header__searchResult(href='#') EXEED TXL 1 2019-н.в. Внедорожник 5 дв.

          a.header__searchButton
            +the_svg('search')

          a.header__cartButton
            +the_svg('cart')
            span.header__cartButtonCount 0

          button.header__menuButton: +the_svg('menu')