footer.footer
  .c
    .footer__main
      .footer__title ВСЕКОВРИКИ
      .footer__address
        | г. Санкт-Петербург,#[br]
        | Старо-Паново,#[br]
        | ул. Пролетарская 19
      .footer__copyright © 2023 | ВСЕКОВРИКИ

    .footer__aside
      .footer__contacts
        a.footer__phone(href='#') 8 800 100-29-02
        .footer__phoneLabel Звонок бесплатный
        a.footer__email avito.kovriki@gmail.com
      .footer__socials
        .footer__socialsLabel Мы в соцсетях
        a.footer__social(href='#') WhatsApp
        a.footer__social(href='#')  Telegram

  .footer__politic
    a(href='#') Политика конфеденциальности
