.news
  .news__image: img(src=require('src/modules/news/img/img.jpg'))
  h1 Что такое ЭВА?
  p Коврики из материала EVA приобретают большую популярность не только потому что красивые или лучше покрывают салон авто, но еще и потому, что они действительно гораздо эффективнее любых других покрытий. В отличии от резиновых ковров ЭВА не будет собирать большие лужи под ногами и Вам не придётся испытывать дискомфорт каждый раз садясь за руль.
  p Вся вода скапливается в ячейках. Ну а сравнивая с ворсовым ковром, тут всё более чем очевидно - коврик из материала ЭВА не будет впитывать воду, а следовательно не нужно бесконечно сушить коврики, и вероятность того, что они протухнут и начнут плесневеть у вас прямо в авто сводится на нет.
  p Вся вода скапливается в ячейках. Ну а сравнивая с ворсовым ковром, тут всё более чем очевидно - коврик из материала ЭВА не будет впитывать воду, а следовательно не нужно бесконечно сушить коврики, и вероятность того, что они протухнут и начнут плесневеть у вас прямо в авто сводится на нет.
  p Вся вода скаплива1ется в ячейках. Ну а сравнивая с ворсовым ковром, тут всё более чем очевидно - коврик из материала ЭВА не будет впитывать воду, а следовательно не нужно бесконечно сушить коврики, и вероятность того, что они протухнут и начнут плесневеть у вас прямо в авто сводится на нет.