.footerMenu.fullWidth
  .c
    ul
      li: a(href='#') Главная
      li: a(href='#') Каталог
      li: a(href='#') О продукции
      li: a(href='#') Акции
      li: a(href='#') Оплата и доставка
      li: a(href='#') Гарантия
      li: a(href='#') Возврат
      li: a(href='#') Отзывы
      li: a(href='#') Новости
      li: a(href='#') Контакты